body
    {
    background-color: black;
    }

#MainCanvas
    {
    border: 1px solid white;
    }

.button
    {
    cursor: pointer;
    }

#GameMenu
    {
    color: white;
    visibility: hidden;
    }