body
    {
    background-color: black;
    text-align: center;
    font-size: 24px;
    }

#MainCanvas
    {
    border: 1px solid white;
    }

.button
    {
    cursor: pointer;
    }

.button:hover
    {
    text-decoration: underline;
    }

#GameMenu
    {
    color: white;
    visibility: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    }

#GameMenu ul > *
    {
    display: inline-block;
    margin: 0 10px;

    }

#GameMenu-first > *
    {
    min-width: 110px;
    }

#GameMenu-second > *
    {
    min-width: 200px;
    }

#GameMenu .value
    {
    color: rgb(0, 128, 0);
    }